svg {
  color: white;
  font-size: 22px;
}

.sidenav ul li {
  border-bottom: 0.1em solid #5c5c5c;
  padding: 20px 0;
  color: #979696;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.sidenav ul li:has(i) {
  display: flex;
  justify-content: space-between;
}

i {
  font-style: normal;
}

.sidenav ul .view {
  padding-left: 10px;
  color: #97969680;
  letter-spacing: 0.2em;
}

.sidenav ul .view p {
  margin: 10px 0;
}

header::after {
  content: "<";
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  bottom: 0;
  border-radius: 50%;
}
